/* 021e4d */

/* 通用 */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    color: #021e4d;
    font-size: 14px;
    min-width: 1440px;
  }
  a {
    text-decoration: none;
    color: #021e4d;
  }
  ul, ol {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  p {
    margin: 0;
  }
  nav {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(2, 30, 77, .6);
  }
  footer {
    margin-top: 120px;
    background-color: #ebeff2;
  }
  .clearfix::after {
    display: block;
    clear: both;
    content: '';
  }
  .container {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
  }
  .background {
    background: no-repeat center center;
    background-size: cover;
  }
  .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .ellipsis-2 {
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
  }
  .img {
    width: 100%;
    height: 100%;
  }

/* 头部 */
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .logo {
    height: 60px;
  }
  .nav-list {
    display: flex;
    align-items: center;
  }
  .nav-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 55px;
  }
  .nav-item.active::after,
  .nav-item:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .nav-item > a {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    padding-bottom: 10px;
  }
  .nav-item:first-child {
    margin-left: 0;
  }
  .nav-item.nav-case a::after {
    content: '';
    display: inline-block;
    margin-left: 4px;
    border: 6px solid transparent;
    border-top-color: #fff;
  }

/* 底部 */
  .footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    font-weight: 700;
  }
  .footer-logo {
    height: 60px;
  }
  .footer-infos {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  .footer-info {
    flex: 1;
  }
  .footer-intro {
    margin-top: 28px;
  }
  .footer-list {
    display: flex;
  }
  .footer-item {
    margin-left: 100px;
  }
  .footer-nav-title {
    position: relative;
    padding-bottom: 48px;
    font-size: 24px;
  }
  .footer-nav-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 2px;
    background-color: #021e4d;
  }
  .footer-nav-item {
    margin-top: 28px;
    font-size: 16px;
  }
  .copyright-container {
    padding: 20px 0;
    border-top: 2px solid #021e4d;
    font-weight: 700;
    text-align: center;
  }
  .copyright {
    margin-top: 20px;
  }
  .copyright:first-child {
    margin-top: 0;
  }

/* 首页 */
  .home-banner {
    position: relative;
    width: 100%;
    height: 800px;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .home-case {
    margin-top: 115px;
  }
  .home-title {
    position: relative;
    margin-bottom: 85px;
    padding-bottom: 24px;
    text-align: center;
    font-weight: 700;
  }
  .home-title:before, .home-title:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 600px;
    height: 2px;
    background-color: #021e4d;
  }
  .home-title:after {
    width: 100px;
    height: 6px;
  }
  .home-title .en {
    letter-spacing: 2px;
    font-size: 48px;
  }
  .home-title .zh {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-size: 18px;
  }
  .home-title .zh::before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    border-bottom: 20px solid #021e4d;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    width: 12px;
    transform: rotate(90deg);
  }
  .home-case-list {
    position: relative;
    height: 1275px;
  }
  .home-case-item {
    position: absolute;
  }
  .home-case-item:nth-child(1) {
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
  }
  .home-case-item:nth-child(2) {
    width: 765px;
    height: 365px;
    top: 520px;
    left: 0;
  }
  .home-case-item:nth-child(3) {
    width: 635px;
    height: 750px;
    top: 520px;
    right: 0;
  }
  .home-case-item:nth-child(4) {
    width: 765px;
    height: 365px;
    top: 905px;
    left: 0;
  }
  .home-case-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    font-size: 24px;
    background-color: rgba(2, 30, 77, .6);
  }
  .home-case-intro {
    color: #909399;
  }
  .home-intro {
    margin-top: 120px;
  }
  .home-intro-wrap {
    height: 600px;
  }
  .home-intro-block {
    width: 600px;
    height: 600px;
    padding: 45px;
    border: 6px solid;
    border-image: linear-gradient(to top, #000, #fff) 1;
    background-image: linear-gradient(135deg, #021e4d, #024a77 40%, #024a77 60%, #021e4d);
    color: #fff;
  }
  .home-intro-block p {
    text-indent: 1.5em;
    line-height: 1.8;
  }
  .home-intro-title {
    font-size: 36px;
  }
  .home-intro-desc {
    margin-top: 40px;
    font-size: 18px;
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:10;
  }
  .home-intro-more {
    margin-top: 20px;
    display: inline-block;
    padding: 10px;
    border: 4px solid;
    border-image: linear-gradient(135deg, #021e4d, #021e4d 25%, #024a77 48%, #024a77 52%, #021e4d 75%, #021e4d) 1;
    color: #fff;
  }
  .home-join {
    margin-top: 120px;
  }
  .home-join .container {
    height: 800px;
  }
  .home-prod {
    margin-top: 120px;
  }
  .home-prod-banner {
    height: 800px;
  }

/* 产品系列 */

/* 品牌中心 */
  .main-brand section {
    margin-top: 120px;
  }
  .brand-title {
    position: relative;
    font-weight: 700;
    padding-bottom: 22px;
  }
  .brand-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 4px;
    background-color: #021e4d;
  }
  .brand-title-light {
    color: #fff;
  }
  .brand-title-light::after {
    background-color: #fff;
  }
  .brand-title .zh {
    font-size: 48px;
  }
  .brand-title .en {
    margin-top: 20px;
    font-size: 18px;
  }
  .brand-1-list {
    display: flex;
    margin-top: 40px;
  }
  .brand-1-item {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    height: 300px;
    margin-right: 50px;
    padding: 0 65px;
    color: #fff;
    font-size: 36px;
  }
  .brand-1-item:last-child {
    margin-right: 0;
  }
  .brand-2 .background {
    margin-top: 40px;
    height: 800px;
  }
  .brand-2-intro {
    float: right;
    width: 655px;
    padding-top: 100px;
    color: #fff;
  }
  .brand-2-title {
    font-weight: 700;
    font-size: 32px;
  }
  .brand-2-desc {
    margin-top: 60px;
    font-size: 18px;
  }
  .brand-2-desc p {
    text-indent: 1.5em;
    line-height: 1.5;
  }
  .brand-3-wrap {
    display: flex;
    margin-top: 40px;
  }
  .brand-3-left {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
  }
  .brand-3-left-item {
    width: 50%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
  }
  .brand-3-left-item:nth-child(2),
  .brand-3-left-item:nth-child(3) {
    color: #fff;
  }
  .brand-3-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 56px;
  }
  .brand-4 {
    position: relative;
    height: 1000px;
    padding-top: 60px;
  }
  .brand-4-intros p {
    position: absolute;
    width: 135px;
    color: #fff;
    text-align: center;
    word-break: break-all;
  }

/* 招商加盟 */
  .join-1 {
    margin-top: 120px;
  }
  .join-1-banner {
    width: 100%;
    margin-top: 40px;
  }
  .join-2 {
    margin-top: 120px;
  }
  .join-2-banner {
    margin-top: 40px;
    padding: 0 116px;
  }
  .join-2-banner img {
    width: 100%;
  }
  .join-3-wrap {
    display: flex;
    margin-top: 40px;
  }
  .join-3-left {
    width: 410px;
    height: 800px;
  }
  .join-3-left img {
    width: 100%;
  }
  .join-3-right {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
  }
  .join-3-right-item {
    position: relative;
    width: 50%;
    height: 400px;
    font-size: 0;
  }
  .join-3-right-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    color: #fff;
    font-size: 20px;
    line-height: 1.8;
    text-align: center;
  }
  .join-3-right-item:hover .join-3-right-desc {
    display: none;
  }

/* 联系我们 */
  .contact-1 {
    position: relative;
    height: 830px;
    margin-top: 110px;
    padding-top: 50px;;
  }
  .contact-1::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 1057px;
    height: 580px;
    background-color: #00aeae;
  }
  .contact-1-intros {
    margin-top: 60px;
    font-size: 16px;
    color: #fff;
  }
  .contact-1-intro {
    margin-bottom: 50px;
  }
  #amap {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 940px;
    height: 520px;
  }
  .contact-2 {
    margin-top: 150px;
    padding: 55px 0;
    background-color: #ebeff2;
  }
  .contact-2-intros {
    margin-top: 60px;
  }
  .contact-2-intro {
    position: relative;
  }
  .contact-2-intro img {
    float: right;
  }
  .contact-2-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 250px;
    padding: 0 55px;
    border: 2px solid #021e4d;
  }
  .contact-2-desc-title {
    margin-bottom: 40px;
    font-size: 28px;
  }
  .contact-2-desc p {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .contact-2-desc p:last-child {
    margin-bottom: 0;
  }
  .contact-2-intro:nth-child(2n) img {
    float: left;
  }
  .contact-2-intro:nth-child(2n) .contact-2-desc {
    padding-left: 500px;
  }

/* 产品中心 */
  .case-main {
    margin-top: 120px;
  }
  #case-container {
    margin-top: 40px;
  }
  .case-tabs {
    display: flex;
    justify-content: flex-end;
  }
  .case-tab {
    position: relative;
    padding: 0 31px;
    color: #9d9d9d;
    font-size: 18px;
  }
  .case-tab span {
    position: relative;
    cursor: pointer;
  }
  .case-tab::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -1px;
    transform: translateY(-50%);
    width: 2px;
    height: 16px;
    background-color: #9d9d9d;
  }
  .case-tab:first-child::before {
    display: none;
  }
  .case-tab.active {
    color: #021e4d;
  }
  .case-tab.active span::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #021e4d;
  }
  .case-list {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
  }
  .case-item {
    position: relative;
    width: 440px;
    height: 350px;
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    cursor: pointer;
  }
  .case-item:nth-child(3n) {
    margin-right: 0;
  }
  .case-item .img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .case-id {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 48px;
    background-color: rgba(0, 0, 0, .4);
  }
  .case-item:hover .case-id {
    display: flex;
  }

/* 产品详情 */
  #detail-container {
    margin-top: 120px;
    padding: 25px 0;
    background-color: #f2f6f9;
  }
  #detail-container .container {
    width: auto;
    max-width: 1720px;
    min-width: 1440px;
  }
  .detail-wrap {
    position: relative;
  }
  .detail-img {
    float: right;
    position: relative;
    width: 980px;
    height: 800px;
  }
  .detail-img .img {
    object-fit: cover;
  }
  .detail-desc {
    position: absolute;
    top: 100px;
    left: 0;
    width: 800px;
    min-height: 600px;
    padding: 90px;
    border-radius: 8px;
    background-color: rgba(2, 30, 77, .5);
    color: #fff;
    font-size: 24px;
  }
  .detail-item {
    margin-top: 50px;
    line-height: 1.5;
  }
  .detail-wrap.is-chuangdian {
    margin-top: 60px;
    padding-left: 40px;
  }
  .detail-wrap.is-chuangdian .detail-img {
    position: absolute;
    top: 255px;
    right: 0;
    width: 800px;
    height: 500px;
  }
  .detail-wrap.is-chuangdian .detail-desc {
    position: static;
    top: auto;
    left: auto;
    width: 900px;
    min-height: 1000px;
    padding: 80px;
    background: no-repeat center center;
    background-size: cover;
    background-image: url('../imgs/detail/detail_01.jpeg');
  }
  .detail-chuangdian {
    margin-top: 50px;
  }
  .detail-chuangdian-desc {
    margin-top: 30px;
    white-space: pre-line;
    line-height: 1.5;
  }
