<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="佛山市云戈家具有限公司，集设计、研发、生产、销售、服务于以提的综合性企业，产品涵盖现代休闲布艺沙发、软床、床垫、客餐厅。" />
  <meta name="Keywords" content="云戈,家居,家具,沙发,软床,床垫,客餐厅" />
  <title>云戈家具 - 产品详情</title>
  <link rel="stylesheet" href="./css/normalize.min.css">
  <link rel="stylesheet" href="./css/index.css">
</head>
<body>
  <header>
    <div class="home-banner background" id="detail-banner">
      <nav>
        <div class="container nav-wrapper">
          <a href="./index.html"><img class="logo" src="./imgs/logo-nav.png" title="云戈家具"></a>
          <ul class="nav-list">
            <li class="nav-item"><a href="./index.html" title="首页">首页</a></li>
            <li class="nav-item nav-case active"><a href="./case.html" title="产品系列">产品系列</a></li>
            <li class="nav-item"><a href="./brand.html" title="品牌中心">品牌中心</a></li>
            <li class="nav-item"><a href="./join.html" title="招商加盟">招商加盟</a></li>
            <li class="nav-item"><a href="./contact.html" title="联系我们">联系我们</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <main id="detail-container">
    <div class="container" style="display: none;" v-show="activeType">
      <div class="brand-title">
        <div class="zh">{{ headerTitle.zh }}</div>
        <div class="en">{{ headerTitle.en }}</div>
      </div>
      <div class="detail-wrap clearfix" :class="{ 'is-chuangdian': activeType === 'chuangdian' }">
        <div class="detail-img"><img class="img" :src="`./imgs/detail/${activeType}/${encodeURIComponent(detailData.id)}.png`"></div>
        <div class="detail-desc">
          <div class="detail-id">型号：{{ detailData.id }}</div>
          <div class="detail-chuangdian" v-if="activeType === 'chuangdian'">
            <p>材质：</p>
            <div class="detail-chuangdian-desc">{{ detailData.material }}</div>
          </div>
          <div class="detail-list" v-else>
            <p class="detail-item" v-for="(item, index) of detailData.items" :key="index">{{ item }}</p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="container footer-container">
      <img class="footer-logo" src="./imgs/logo-footer.png" title="云戈家具">
      <div class="footer-infos">
        <div class="footer-info">
          <p class="footer-intro">全国服务热线：186 6427 1689</p>
          <p class="footer-intro">营销中心：广东省佛山市顺德区龙江镇325国道家具大道103号云戈家具</p>
          <p class="footer-intro">工厂地址：佛山市顺德区龙江镇世埠社区龙丰路9号</p>
        </div>
        <ul class="footer-list">
          <li class="footer-item">
            <div class="footer-nav-title">产品系列</div>
            <ul class="footer-nav-list">
              <li class="footer-nav-item"><a href="./case.html?type=shafa" title="沙发系列">沙发系列</a></li>
              <li class="footer-nav-item"><a href="./case.html?type=ruanchuang" title="软床系列">软床系列</a></li>
              <li class="footer-nav-item"><a href="./case.html?type=chuangdian" title="床垫系列">床垫系列</a></li>
              <li class="footer-nav-item"><a href="./case.html?type=kecanting" title="客餐厅系列">客餐厅系列</a></li>
            </ul>
          </li>
          <li class="footer-item">
            <div class="footer-nav-title">关于我们</div>
            <ul class="footer-nav-list">
              <li class="footer-nav-item">品牌简介</li>
              <li class="footer-nav-item">品牌价值观</li>
              <li class="footer-nav-item">品牌历程</li>
            </ul>
          </li>
          <li class="footer-item">
            <div class="footer-nav-title">联系我们</div>
            <ul class="footer-nav-list">
              <li class="footer-nav-item">招商加盟</li>
              <li class="footer-nav-item">人才招聘</li>
              <li class="footer-nav-item">商业合作</li>
              <li class="footer-nav-item">海外合作</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright-container">
      <div class="container">
        <div class="copyright">Copyright 2022 佛山市云戈家具有限公司</div>
        <!-- <div class="copyright">粤ICP备2022076010号-1</div> -->
      </div>
    </div>
  </footer>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.min.js"></script>
  <script src="./js/tools.js"></script>
  <script src="./js/data.js"></script>
  <script>
    var query = getRouteQuery()
    if (!query.type || !query.id) location.replace('./case.html')
    query.id = decodeURIComponent(query.id)
    console.log(query)
    var detailBanner = document.querySelector('#detail-banner')
    detailBanner.style.backgroundImage = `url(./imgs/detail/banner-${query.type}.jpg)`

    new Vue({
      el: '#detail-container',
      computed: {
        activeType() {
          return query.type
        },
        headerTitle() {
          var options = {
            shafa: { zh: '沙发', en: 'Sofa details' },
            ruanchuang: { zh: '软床', en: 'Soft bed details' },
            chuangdian: { zh: '床垫', en: 'Mattress details' },
            kecanting: { zh: '客餐厅', en: 'Guest restaurant details' },
          }
          return options[query.type]
        },
        detailData() {
          return caseData[query.type].find(i => i.id === query.id)
        }
      }
    })
  </script>
</body>
</html>